#=================================
#
# Justin’s Grunt and Sass Nonsense
#
#=================================
.sass-cache

# ignore built and build artifacts
themes/wwwwevergreen/css/build/*
themes/wwwwevergreen/css/dist/*.css
themes/wwwwevergreen/css/dist/custom-css/*.css
themes/wwwwevergreen/js/build/*
themes/wwwwevergreen/js/dist/*.js
themes/wwwwevergreen/js/dist/init/*.js
themes/wwwwevergreen/r25/build/r25.css

lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

libs

# Ignore superfluous jquery.css file that inexplicably gets created by grunt-contrib-sass
themes/wwwevergreen/css/dist/custom-css/jquery.css

# Ignore third-party libraries
themes/wwwevergreen/js/files/

# Ignore reports (e.g. sass-lint's report)
report.html

#================
#
# Drupal Nonsense
#
#================
modules/contrib
modules/contrib/[^.]*

#=============
#
# OSX Nonsense
#
#=============
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#=================
#
# Windows Nonsense
#
#=================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
modules/contrib/security_review/IGNOREME.txt
modules/contrib/field_collection/field_collection.install
modules/contrib/features
features.module
.idea*

/modules/custom/evergreen_content/migrations/sitesections-old.csv
*.orig
