@charset "UTF-8";

/**
 * Catalog
 *
 * Styles specific to the catalog pages.
 *
 * Table of Contents
 *
 *   I. Cascade Catalog - Deprecated
 *  II. Program Pages - Deprecated
 * III. Drupal Catalog
 */

/**
 * I. Cascade Catalog - Deprecated
 *
 * These styles are specific to the catalog in Cascade, which we’re no
 * longer using. If any of these styles are still in use, move them into
 * the Drupal section, below.
 */

@import "../tools";

.compare-box{
	// box model
	max-width: 200px;
	// layout
	display: flex;
	flex-direction: column;
	// position
	position: fixed;
	right: 1em;
	bottom: -6em;
	// typography
	text-align: center;
	// misc
	box-shadow: 0 0 2px $drop-shadow;
}

.compare-box-active{
	bottom: 0;
	transition: bottom 0.25s;
}

#compare{  // Compare button inside .compare-box
	// box model
	@include margin-default;
	// layout
	float: left;
}

.course-index{
	// layout
	display: block;
	// typography
	@include base-type;  // We want this table to always use the smaller copy size

	> thead{
		display: none;
	}

	> tbody,
	> tbody > tr,
	> tbody > tr > td{
		display: block;
	}

	> tbody > tr{
		// box model
		border: 1px solid mix($tint, $blueberry-susan, 66%);
		@include margin-default;
		padding: 0 1em;
		// layout
		overflow: hidden;
		// typography
		text-align: center;
		// decoration
		background-color: mix($tint, $blueberry-susan, 90%);
		border-radius: 2px;
		// misc
		box-shadow: 0 1px 1px $drop-shadow;

		&.cancelled{
			// decoration
			background-color: $tint;
			border-color: mix($tint, $blueberry-susan, 75%);
			border-style: dashed;
			// misc
			box-shadow: none;
		}
	}

	> tbody > tr > td{
		border-width: 0;
		padding: 0;

		&.offering,
		&.standing,
		&.credits,
		&.time{
			display: inline;
		}

		&.is-hidden{
			display: none;
		}
	}

	@media screen and (min-width: 55em){
		display: table;

		> thead{
			display: table-header-group;
		}

		> tbody{
			display: table-row-group;
		}

		> tbody > tr{
			// box model
			border-width: 0;
			// layout
			display: table-row;
			// typography
			text-align: left;
			// backgrounds & borders
			background-color: transparent;
			border-radius: 0;
			// misc
			box-shadow: none;
		}

		> tbody > tr > td{
			// box model
			border-top-width: 1px;
			padding: 0.37037em 1.11111em 1.11111em 0;
			// layout
			display: table-cell;

			&.offering,
			&.standing,
			&.credits,
			&.time{
				display: table-cell;
			}
		}
	}
}

.compare{  // Compare checkbox
	// box model
	@include margin-default;
	margin-right: 1em;
	// layout
	float: left;

	@media screen and (min-width: 55em){
		// box model
		margin: 0;
		// layout
		float: none;
	}
}

.compare-clear{
	clear: left;
	float: left;
}

/*.title{
	margin: 0 2%;
}*/

.program-title{
	@media screen and (min-width: 55em){
		@include base-type-lg;
	}

	.message{
		//box model
		padding: 0 0.3125rem;
		//typography
		color: $wine;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		//backgrounds & borders
		background-color: $highlight;
	}
}

.offering,
.standing,
.credits,
.time{
	@include margin-default;
}

.offering:after,
.standing:after{
	content: " •";

	@media screen and (min-width: 55em){
		content: "";
	}
}

.credits:after{
	content: " credits •";

	@media screen and (min-width: 55em){
		content: "";
	}
}

.time:after{
	width: 0;
	clear: both;
	display: table;
	content: "";
}

.fall{
	//layout
	clear: left;

	&,
	abbr{
		// decoration
		background-color: #c09a00;
		border-color: #c09a00;
		//color: mix($tint, #c09a00, 60%);
	}
}

.winter{
	&,
	abbr{
		// decoration
		background-color: mix($shade, $sky-blue, 25%);
		border-color: mix($shade, $sky-blue, 25%);

		&.closed{
			// typography
			color: mix($shade, $sky-blue, 50%);
			// decoration
			background-color: mix($tint, $sky-blue, 66%);
			border-style: dashed;
		}
	}
}

.spring{
	&,
	abbr{
		// decoration
		background-color: mix($tint, $blueberry-susan, 25%);
		border-color: mix($tint, $blueberry-susan, 25%);

		&.closed{
			//typography
			color: mix($shade, $blueberry-susan, 25%);
			// decoration
			background-color: mix($tint, $blueberry-susan, 75%);
			border-style: dashed;
		}
	}
}

.summer{
	&,
	abbr{
		// decoration
		background-color: $evergreen-neue;
		border-color: $evergreen-neue;

		&.closed{
			//typography
			color: mix($shade, $evergreen-neue, 25%);
			// decoration
			background-color: mix($tint, $evergreen-neue, 50%);
			border-style: dashed;
		}
	}
}

.summer-session-1{
	&,
	abbr{
		// decoration
		background-color: $evergreen-old-style;
		border-color: $evergreen-old-style;
	}
}

.summer-session-2{
	&,
	abbr{
		// decoration
		background-color: $wine;
		border-color: $wine;

		&.closed{
			//typography
			color: mix($shade, $wine, 25%);
			// decoration
			background-color: mix($tint, $wine, 50%);
			border-style: dashed;
		}
	}
}

.fall,
.winter,
.spring,
.summer,
.summer-session-1,
.summer-session-2{
	// box model
	margin-top: 0.9375rem;
	width: 25%;
	// layout
	float: left;
	// typography
	color: $tint;
	text-align: center;

	abbr{
		// box model
		border-width: 1px;
		//border-bottom-width: 0;
		padding: 0.234375rem;
		// layout
		display: block;
		// decoration
		border-radius: 2px;
		border-style: solid;
	}

	@media screen and (min-width: 55em){
		// box model
		width: auto;
		// layout
		float: none;
		// decoration
		background-color: transparent;
	}
}

.cancelled{

	.fall,
	.winter,
	.spring,
	.summer{
		// typography
		color: $shade;
		// decoration
		background-color: mix($tint, $blueberry-susan, 80%);

		abbr{
			background-color: mix($tint, $blueberry-susan, 80%);
		}
	}

	@media screen and (min-width: 55em){
		.fall,
		.winter,
		.spring,
		.summer{
			background-color: transparent;
		}
	}
}

/**
 * II. Program Pages - Deprecated
 *
 * Styles for the detail pages for each of the individual programs. These
 * styles are deprecated for now, though they may still be in use in the
 * Drupal catalog. Double-check this and make the appropriate updates here.
 */

.program-faculty{  // Deprecated; use .mini-bio-photo instead.
	//box model
	border: 1px solid mix($shade, $sky-blue, 60%);
	height: 3rem;
	//backgrounds & borders;
	border-radius: 50%;
}

.program-prerequisites,
.program-prerequisites-content,
.program-description{
	@include margin-default;
}

.catalog-season{
	height: 1.375rem;  //Matches height of h3

	@media screen and (min-width: 43em){
		font-size: 1.594rem;  //Matches height of h3
	}
}

@media print{

	.dataTables_wrapper > div *{  // This whole rule is necessary for printing in Firefox, for some reason; without it, the catalog entries are invisible.
		all: initial;
	}

	// Hide unnecessary elements.
	.compare-box,
	.dataTables_wrapper .showing,
	.course-index > thead,
	.course-index > tbody > tr > td.compare{
		display: none;
	}

	// Avoid page breaks inside catalog entries.
	.course-index > tbody > tr{
		page-break-inside: avoid;
	}
}

/**
 * III. Drupal Catalog
 *
 * Currently active catalog.
 */

.sticky-header{
	visibility: hidden;
	
	@include breakpoint($gamora){
		visibility: visible;
	}
}

.view-catalog .views-table{  // The main catalog table
	display: block;
	
	@include breakpoint($gamora){
		display: table;
	}
}

/*.view-catalog caption{
	display: block;
	
	@include breakpoint($gamora){
		display: table-caption;
	}
}*/

.view-catalog tbody{
	display: block;
	
	@include breakpoint($gamora){
		display: table-row-group;
	}
}

.view-catalog tr{
	display: block;
	
	@include breakpoint($gamora){
		display: table-row;
	}
}

.view-catalog thead{
	display: none;
	
	@include breakpoint($gamora){
		display: table-row-group;
	}
}

.view-catalog tr{
	// box model
	border-top: 1px solid $shade;
	margin-bottom: calc(30 / 16 * 1rem);
	padding-top: calc(15 / 16 * 1rem);
	padding-left: 6ch;
	// layout
	display: flex;
	flex-wrap: wrap;
	
	@include breakpoint($gamora){
		// box model
		border-top: none;
		display: table-row;
	}
}

.view-catalog td{
	// box model
	border-top-width: 0;
	padding: 0;
	// layout
	display: inline-block;
	
	@include breakpoint($gamora){
		// box model
		border-top-width: 1px;
		padding: 0.37037037037037em 1.111111111111111em 1.111111111111111em 0;  // 5/13.5  15/13.5
		// layout
		display: table-cell;
	}
}

.view-catalog .views-field-ops{
	// box model
	margin-left: -6ch;
	padding-right: 1ch;
	width: 6ch;
}

.view-catalog .catalog-title{
	// layout
	flex-basis: 100%;
}

.keyword-list ul > li{
	// box model
	margin: 0.234375rem 1ch 0.234375rem 0;  //3.75px
	// layout
	display: inline-block;
	// typography
	//color: $tint;
}

.keyword-list ul > li > a{
	// box model
	border-bottom-width: 0;
	//margin: 0 0.4375rem 0 0;  //7.5px
	// layout
	display: block;
}

.keyword-list ul > li > a,
.keyword-list ul > li > a:visited{
	// typography
	color: mix($tint, $blueberry-susan, 50%);
	font-weight: normal;
}

.keyword-list ul > li > a:hover{
	color: mix($tint, $blueberry-susan, 25%);
	//background-color: $blueberry-susan;
}

.keyword-list ul > li > a:before{
	content: "#";
}

.keyword-list ul > li > a:after{
	@media print{
		content: "";  // Hide appended URLs from print styles
	}
}

.keyword-list ul > li:last-child > a{
	margin-right: 0;
}

.catalog-time-offered p::after{
	content: "\00A0";
	
	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-offering p::after{
	content: "\00A0";
	
	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-class-standing p{
	
	&::before{
		content: "for" "\00A0";
	}
	
	&::after{
		content: ",\00A0";
	}
	
	@include breakpoint($gamora){
		
		&::before,
		&::after{
			content: "";
		}
	}
}

.catalog-credits p::after{
	content: "\00A0" "credits";  // \00A0 is a non-breaking space (&nbsp;)
	
	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-quarters-offered{
	flex-basis: 100%;
}

.program-title{
	@include base-type-lg;
}

.cancelled{
	opacity: 0.4;
}

/**
 * A. Quarter Indicator
 */

.quarter-indicator-group{
	display: flex;
}

.qi-fall,
.qi-winter,
.qi-spring,
.qi-summer-session1,
.qi-summer-session2{
	/* box model */
	border-width: 1px;
	height: 2em;
	margin-right: 0.5ch;
	width: 4ch;
	/* layout */
	overflow: hidden;
	/* typography */
	text-indent: 100%;
	white-space: nowrap;
	/* decoration */
	border-radius: 50%;
	border-style: solid;
}

.qi-cont-start{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.qi-cont{
	border-radius: 0;
}

.qi-cont-end{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.qi-fall{
	/* decoration */
	background-color: #C09A00;
	border-color: #C09A00;
}

.cancelled .qi-fall{
	background-color: #E5D8A3;
}

.qi-winter{
	background-color: mix($shade, $sky-blue, 20%);
	border-color: mix($shade, $sky-blue, 20%);
}

.cancelled .qi-winter{
	background-color: mix($tint, $sky-blue, 60%);
}

.qi-spring{
	background-color: mix($tint, $blueberry-susan, 20%);
	border-color: mix($tint, $blueberry-susan, 20%);
}

.cancelled .qi-spring{
	background-color: mix($tint, $blueberry-susan, 80%);
}

.summer-indicator-group{
	display: flex;
}

.qi-summer-session1,
.qi-summer-session2{
	width: 2ch;
}

.qi-summer-session1{
	background-color: $evergreen-neue;
	border-color: $evergreen-neue;
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.cancelled .qi-summer-session1{
	background-color: mix($tint, $evergreen-neue, 40%);
}

.qi-cont-start.qi-signature,
.qi-cont-start.quarter-conditional,
.qi-summer-session1.qi-signature,
.qi-summer-session1.quarter-conditional{
	background-position-x: 0.85ch;
}

.qi-summer-session2{
	/* box model */
	margin-right: 0;
	/* decoration */
	background-color: $evergreen-old-style;
	border-color: $evergreen-old-style;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.cancelled .qi-summer-session2{
	background-color: mix($tint, $evergreen-old-style, 60%);
}

.qi-summer-session1.qi-signature{
	/* box model */
	width: 2em;
	/* decoration */
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.qi-summer-session2.qi-signature{
	/* box model */
	width: 2em;
	/* decoration */
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.cancelled .qi-fall,
.cancelled .qi-winter,
.cancelled .qi-spring,
.cancelled .qi-summer-session1,
.cancelled .qi-summer-session2{
	border-style: dashed;
}

.quarter-conditional{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/conditional-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1em;
}

.qi-signature{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/signature-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.5em;
}

.qi-future{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/texture-2.png");
	background-size: auto 100%;
}

.qi-future.qi-signature{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/texture-2.png"),
	                  url("/sites/all/themes/wwwevergreen/images/icons/signature-icon.png");
	background-size: 100%,
	                 1.5em;
}

.qi-signature.qi-cont-start{
	background-position-x: 0,
	                       0.85ch;
	background-repeat: repeat,
	                   no-repeat;
}

.qi-na,
.cancelled .qi-na{
	/* decoration */
	background: transparent none;
	border-color: #aaa;
}

/**
 * B. Simple Filters
 *
 * Simple filters are buttons on the catalog homepage that simply take you
 * to a pre-filtererd version of the catalog without having to fiddle
 * around with the filter form doohickies.
 */
.simple-filter{
	display: flex;
}

.simple-filter-label{
	// box model
	margin-right: 2ch;
	// layout
	flex-basis: 13ch;
}

.simple-filter-list{
	// box model
	margin-bottom: 0;
	// layout
	display: flex;
	flex-wrap: wrap;
}

.simple-filter-list li{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 80%);
	margin: 0 1ch calc(15 / 14 * 1em) 0;
	padding: calc(7.5 / 14 * 1em) 1ch calc(15 / 14 * 1em);
	// layout
	display: inline-block;
	// decoration
	background-color: $tint;
	
	@include breakpoint($gamora){
		margin-bottom: (15 / 18 * 1em);
		padding: calc(7.5 / 18 * 1em) 1ch calc(15 / 18 * 1em);
	}
	
	&:last-child{
		margin-right: 0;
	}
}

.simple-filter-list a{
	//border-width: 0;  // We should do this, but it needs more thought; maybe the border re-appers on hover?
}
