@charset "UTF-8";
/**
 * Homepage
 *
 * Special styles just for the homepage.
 *
 * Table of Contents
 * 1. Unpublished Content
 * 2. Marketing Grid
 * 3. SVG Transporter
 * 4. Slick Slider
 */
@import "../tools";

/**
 * 1. Unpublished Content
 *
 * Playing around with styles for unpublished content (still needs some work)
 */
.node-unpublished .content::before{
	// box model
	padding-right: 1ch;
	padding-left: 1ch;
	// typography
	font-weight: bold;
	text-transform: uppercase;
	// decoration
	background-color: mix($tint, $wine, 80%);
	border-radius: 2px;
	// misc
	content: "Unpublished";
}

/**
 * 2. Hype Grid
 */
.hype-grid{
	
	@supports (grid-template: none){  // Targets browsers that support grid without autoprefixing with shitty IE/Edge syntax.
		display: grid;
		grid-template-columns: 1fr;
	
		@include breakpoint($lil-groot){
			grid-template-columns: repeat(2, 1fr);
		}
		
		
		@include breakpoint($gamora){
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 1em 2ch;
		}
	}
}

@supports (grid-template: none){  // Targets browsers that support grid without autoprefixing with shitty IE/Edge syntax.
	.grid.hype-grid{
		margin-left: auto;
	}
	
	.hype-grid > *{
		padding-left: 0;
		width: auto;
	}
}

.hype-segment{
	
	@include breakpoint($lil-groot){
		grid-column-end: span 2;
	}
	
	@include breakpoint($gamora){
		grid-column-end: span 3;
	}
}

.hype-segment-alt{
	
	@include breakpoint($lil-groot){
		grid-column-end: span 2;
	}
	
	@include breakpoint($gamora){
		grid-column-end: span 6;
	}
}

.hype-segment--magazine{
	
	@include breakpoint($lil-groot){
		grid-column-end: span 2;
	}
	
	@include breakpoint($gamora){
		grid-column-end: span 6;
	}
}

.hype-grid--magazine{
	
	@supports (grid-template: none){  // Targets browsers that support grid without autoprefixing with shitty IE/Edge syntax.
		display: grid;
		grid-gap: 1em 2ch;
		grid-template-columns: 1fr;
		
		@include breakpoint($gamora){
			grid-column-end: span 6;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@supports (grid-template: none){  // Targets browsers that support grid without autoprefixing with shitty IE/Edge syntax.
	.grid.hype-grid,
	.grid.hype-segment--magazine{
		margin-left: 0;
	}
	
	.hype-grid > *,
	.hype-grid--magazine > *{
		padding-left: 0;
		width: auto;
	}
}

/**
 * 3. SVG Transporter
 *
 * We’d like to have SVG icons that can be themed with CSS, but browsers
 * make this very challenging.
 *
 * This is currently in an experimental test phase, so it’s commented out.
 */

//@import "home/svg-transporter";

/**
 * 4. Slick Slider
 *
 * Slick Slider is used on the homepage for Upcoming Events Calendar at
 * smaller screen sizes.
 */

@import "slick";  // Import styles for Slick carousel
@import "slick-theme";  // Import styles for Slick theme
