@charset "UTF-8";
/*!*
 * Fields of Study Styles
 *
 * Styles for the fields of study pages.
 *
 * These styles were originally developed by Justin McDowell.
 */
@import "../tools";

.studies-list--item{  // Drupal breaks BEM by replacing underscores with hyphens here
	@include margin-default;
}

.studies-list__field {
	// box model
	border-bottom-width: 0;
	// typography
	letter-spacing: 0.2ch;
	text-transform: uppercase;
}

.studies-list__see-also {
	font-style: italic;
}

.program-grid__table {
	// decoration
	background-color: mix($tint, $blueberry-susan, 95%);
	border-collapse: separate;
	border-spacing: 1ch 1em;
	box-shadow: 0 0 0.66667ch mix($tint, $blueberry-susan, 80%) inset;
}

.program-grid__heading {
	padding-right: 1ch;
	padding-left: 1ch;
	width: 33.33333%;
}

.program-grid__item {
	// box model
	border: 1px solid mix($tint, $shade, 80%);
	padding-right: 1ch;
	padding-left: 1ch;
	// decoration
	background-color: $tint;
	
	&:last-child {
		padding-right: 1ch;
	}
}

.program-grid__item--continued {
	// box model
	border-left-style: dashed;
	background-image: repeating-linear-gradient(125deg,
		transparentize($tint, 1) 0,
		transparentize($tint, 1) 24px,
		mix($tint, $blueberry-susan, 95%) 25px,
		mix($tint, $blueberry-susan, 92%) 50px
	);
}

.program-grid__item--continues {
	// box model
	border-right-style: dashed;
}

tr:first-child > .program-grid__item {
	border-top-color: mix($tint, $shade, 80%);
}

.program-grid__item:empty {
	visibility: hidden;
}

.main-content > ul.studies-list:last-child > li:last-child::after{  // Let’s hide the endnote. It’s more of a distraction here.
	content: "";
}