@charset "UTF-8";
/*!*
 * Fields of Study Styles
 *
 * Styles for the fields of study pages.
 *
 * These styles were originally developed by Justin McDowell.
 */
@import "../tools";

.studies-list--item{  // Drupal breaks BEM by replacing underscores with hyphens here
	@include margin-default;
}

.studies-list__field {
	// box model
	border-bottom-width: 0;
	// typography
	letter-spacing: 0.2ch;
	text-transform: uppercase;
}

.studies-list__see-also {
	font-style: italic;
}

.main-content > ul.studies-list:last-child > li:last-child::after{  // Let’s hide the endnote. It’s more of a distraction here.
	content: "";
}