@charset "UTF-8";
/*!*
 * Fields of Study Styles
 *
 * Styles for the fields of study pages.
 *
 * These styles were originally developed by Justin McDowell.
 */
@import "../tools";

.studies-list{

	li{
		@include margin-default;
	}

	a{
		// box model
		border-bottom-width: 0;
		// typography
		letter-spacing: 0.2ch;
		text-transform: uppercase;
	}

	ul{
		// box model
		border-left: 1.5px dashed mix($tint, $blueberry-susan, 60%);
		margin-left: 0.5ch;
		padding-left: calc(1.5ch - 1.5px);
		// typography
		list-style-type: none;

		a{
			font-weight: normal;
		}
	}
}

.main-content > ul.studies-list:last-child > li:last-child::after{  // Let’s hide the endnote. It’s more of a distraction here.
	content: "";
}