@charset "UTF-8";
/*!*
 * Style Guide Styles
 *
 * Styles that address the unique design problems of our public
 * Style Guide.
 *
 * The styles in this style guide were arrived at in discussions between
 * the web and print teams.
 *
 * Styles in this file are organized according to the SMACSS principles:
 * http://smacss.com/
 *
 * Table of Contents
 *
 * 1. Base Styles
 * 2. Layout Styles
 * 3. Module Styles
 * 4. State Styles
 * 5. Uncategorized Styles
 */
@import "../tools";

/**
 * 1. Base Styles
 *
 * @see http://smacss.com/book/type-base
 */

@import "buttons";

/**
 * 2. Layout Styles
 *
 * @see http://smacss.com/book/type-layout
 */

ul.allowed-list,
ul.banned-list{
	margin-left: 25px;
}

ul.banned-list{
	list-style-image: url("/style-guide/images/no.png");
}

@include breakpoint($starlord){
	.sample-list > li{
		margin: 0.535714285714286em 4% 1.071428571428571em 0;  //22.5/14/3 15/14  So, 22.5 + 7.5 + 15 = 45
		width: 48%;
		float: left;
	}

	.sample-list > li:nth-child(even){
		margin-right: 0;
	}
}

/**
 * 3. Module Styles
 *
 * @see http://smacss.com/book/type-module
 */

@import "color-tables";

/**
 * 4. State Styles
 *
 * @see http://smacss.com/book/type-state
 */
.is-dark{
	color: $tint;
}

.is-low-contrast{
	font-weight: bold;
}

.is-low-contrast > ul{
	padding: 0 0.5ch;
	background-color: hsla(0, 0%, 100%, 0.3333333333);
}

.is-dark.is-low-contrast > ul{
	background-color: hsla(0, 0%, 0%, 0.3333333333);
}

/*This file was written by Justin McDowell. ((O)O)*/