/**
 * 2. Views Module Forms
 *
 * Views forms seem typically to be filters on tables.
 *
 * Notable Views forms:
 * Catalog filters    http://wwwtest.evergreen.edu/catalog/index?year=1
 * Activities filter  http://wwwtest.evergreen.edu/activities/groups
 *
 * Table of Contents:
 *
 * a. Form Components
 * b. Buttons
 * c. Tertiary Nav Filter Styles
 */


/**
 * a. Form Components
 */
.views-widget-filter-combine input{  // Input combined with a description? See Activites filter page: http://wwwtest.evergreen.edu/activities/groups
	margin-bottom: 0;
}

/**
 * b. Buttons
 */
.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button{
	display: inline-block;
}

.views-exposed-form .views-exposed-widget .form-submit{  // Inline submit button? See Activites filter page: http://wwwtest.evergreen.edu/activities/groups
	margin-top: calc(20 / 16 * 1rem);

	@include breakpoint($gamora){
		margin-top: calc(22.5 / 16 * 1rem);
	}
}

/**
 * c. Tertiary Nav Filter Styles
 */
.tertiary-nav-wrapper .views-exposed-form{
	@include margin-default;

	@include breakpoint($gamora){
		@include base-type;
	}
}

.tertiary-nav-wrapper .views-exposed-widget{
	padding: 0;
}