/**
 * 2. Views Module Forms
 *
 * Views forms seem typically to be filters on tables.
 *
 * Notable Views forms:
 * Catalog filters    http://wwwtest.evergreen.edu/catalog/index?year=1
 * Activities filter  http://wwwtest.evergreen.edu/activities/groups
 *
 * Table of Contents:
 *
 * a. Form Components
 * b. Buttons
 * c. Better Exposed Filters
 * d. Tertiary Nav Filter Styles
 */

/**
 * a. Form Components
 */
.views-exposed-form .views-exposed-widget{
	margin-bottom: calc(15 / 16 * 1rem);
}

.views-exposed-widgets{
	// box model
	margin-bottom: 0;
	// layout
	display: flex;
	flex-wrap: wrap;
}

.views-exposed-widget input,
.views-exposed-widget select,
.views-exposed-widget textarea,
.views-exposed-widget fieldset{
	margin-top: 0;
	margin-bottom: 0;
}

.views-widget-filter-combine input{  // Input combined with a description? See Activites filter page: http://wwwtest.evergreen.edu/activities/groups
	margin-bottom: 0;
}

.form-type-select{ // Drupal select box wrapper, sets a context for determining max-width of a select box; this should match input[type="text"]
	width: 100%;
	max-width: calc(45ch + 1em);
}

.tertiary-nav-wrapper .form-type-select select{
	width: 100%;  // Makes long select boxes not extend past their container
}

div[id$="-range-wrapper"] .slider-filter-processed{
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

div[class$="-range-min"],
div[class$="-range-max"]{
	width: 6ch;  // 3ch for three characters, 2ch for padding, and 1ch for space between characters, borders, etc.
}

input[id$="-range-max"]{
	text-align: right;
}

/**
 * b. Buttons
 */
.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button{
	display: inline-block;
}

.views-exposed-form .views-exposed-widget .form-submit{  // Inline submit button? See Activites filter page: http://wwwtest.evergreen.edu/activities/groups
	margin-top: calc(20 / 16 * 1rem);

	@include breakpoint($gamora){
		margin-top: calc(22.5 / 16 * 1rem);
	}
}

/**
 * c. Better Exposed Filters
 *
 * Better Exposed Filters (BEF) allow us to do some fancier form things,
 * but they change up some of the code patterns that Drupal Views uses.
 *
 * See the Catalog Filter’s “Advanced Opportunities” for an example:
 * http://wwwtest.evergreen.edu/catalog/index?year=1
 */
.bef-checkboxes .form-item,
.bef-secondary-options .form-item{
	margin-bottom: calc(15 / 16 * 1rem);
}

.bef-checkboxes .form-type-bef-checkbox{
	// layout
	align-items: center;
	display: flex;
}

.form-type-bef-checkbox input + label{
	margin-bottom: 0;
}

/**
 * d. Tertiary Nav Filter Styles
 */
.tertiary-nav-wrapper .views-exposed-form{
	@include margin-default;

	@include breakpoint($gamora){
		@include base-type;
	}
}

.tertiary-nav-wrapper .views-exposed-widget{
	// box model
	padding: 0;
	// layout
	clear: left;  // Makes forms layout better on mobile
}