/**
 * Form Styles
 *
 * Base styles that make the forms a pleasure to fill out.
 * 
 * Table of Contents
 *
 * 1. Sidebar Overrides
 * 2. Views Module Forms
 * 3. Webform Module
 * 4. Search
 *
 * A note on forms:
 * There are several different kinds of forms:
 * • Default forms
 * • Drupal Views
 * • Drupal Webforms
 *
 * Each of these forms have their own peculiarities, so you need to check
 * out a few different forms, in order to make sure improvements you make
 * to one form don't become bugs in another form. The following list are
 * forms that tend to be troublesome, but the list is not exhaustive.
 * Please add to this whenever you run into a cantankerous form problem.
 * (Ideally, this could be aided by visual regression testing. Can anybody
 * help with that?)
 *
 * Name                 Form type       URL
 * ------------------------------------------
 * Catalog filters      Drupal Views    http://wwwtest.evergreen.edu/catalog/index?year=1
 * Activities filter    Drupal Views    http://wwwtest.evergreen.edu/activities/groups
 * Rain opinion survey  Drupal Webform  http://wwwtest.evergreen.edu/marketing/rain-opinion-survey
 */

/**
 * For more on reseting fieldsets and legends, see https://thatemil.com/blog/2015/01/03/reset-your-fieldset/.
 */
fieldset{
	border-width: 0;
	margin: calc(30 / 16 * 1rem) 0;
	padding: 0;
}

legend{
	// box model
	@include margin-default;
	padding: 0;
	// layout
	display: table;  // Allows line-wrapping in IE.
	// typography
	letter-spacing: 0.25ch;
	text-transform: uppercase;

	@include breakpoint($gamora){
		@include margin-default-lg;
	}
}

label{
	display: inline;
}

input,
select,
textarea{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 60%);
	margin-bottom: calc(15 / 16 * 1rem);
	max-width: 100%;
	//typography
	font-family: $text-face-alt;
	@include base-type;
	// decoration
	border-radius: 2px;
	caret-color: mix($shade, $evergreen-neue, 20%);

	&:focus{
		// misc
		box-shadow: 0 0 2px 1px $drop-shadow;
	}

	@include breakpoint($gamora){
		@include base-type-lg;
	}
}

input{
	// box model
	height: 1.875rem;  // Step 3
	padding: 0 1ch;
	// typography
	font-size: 1em;
}

[type="text"]{
	width: 100%;
	max-width: calc(45ch + 1em);
}

[type="email"]{
	width: 100%;
	max-width: calc(30ch + 1em);  // Long enough to fully display about 95% of all email addresses
}

[type="password"],
[type="tel"]{
	width: 100%;
	max-width: calc(15ch + 1em);  // Long enough to fully display a standard 11-digit phone number (with punctuation) or 20-digit concealed password
}

select{
	// box model
	height: calc(30 / 16 * 1rem);
	padding: 0 0.5em;
	// typography
	text-shadow: 0 1px 0 $highlight;
	// decoration
	box-shadow: 0 0.1em 0.1em $drop-shadow inset;
	// misc
	cursor: pointer;

	&:hover{
		// decoration
		background-color: mix($tint, $blueberry-susan, 90%);
		border-bottom-style: dashed;
	}
}

textarea{
	// box model
	padding: calc(7.5 / 16 * 1rem) 1ch;
	width: 100%;
	max-width: calc(47ch + 2px);
	min-width: 50%;

	@include breakpoint($gamora){
		// box model
		@include margin-default-lg;
	}
}

[type="checkbox"],
[type="radio"]{
	// margin
	height: calc(14 / 16 * 1rem);
	margin: 0 0.5ch calc(20 / 16 * 1rem) 0;
	width: 1em;
	// layout
	clear: left;
	float: left;
	vertical-align: top;

	@include breakpoint($gamora){
		height: calc(18 / 16 * 1rem);
		margin: calc(2.5 / 16 * 1rem) 0.5ch calc(20 / 16 * 1rem) 0;
	}

	@include breakpoint($groot){
		height: calc(19.229 / 16 * 1rem);
	}
}

[disabled],
[readonly]{
	// typography
	color: mix($tint, $shade, 33%);
	// decoration
	background-color: $tint;
	box-shadow: 0 1px 2px mix($tint, $shade, 75%) inset;
}

/**
 * 1. Sidebar Overrides
 */

.sidebar [type="checkbox"],
.sidebar [type="radio"]{
	height: calc(14 / 16 * 1rem);

	@include breakpoint($groot){
		height: calc(18 / 16 * 1rem);
	}
}

[type="checkbox"] + label,
[type="radio"] + label{
	// box model
	margin-bottom: (15 / 16 * 1rem);
	width: calc(100% - 1em - 0.5ch - 1px);  // -1 extra px to fudge labels into place; I think browsers have somewhat fuzzy widths in form components —jkm
	// layout
	float: left;

	@include breakpoint($gamora){
		width: calc(100% - 1em - 0.5ch - 1px);  // -1 extra px to fudge labels into place; I think browsers have somewhat fuzzy widths in form components —jkm
	}
}

/**
 * 2. Views Module Forms
 */
@import "forms/drupal-views";

/**
 * 3. Webform Module
 */
@import "forms/drupal-webform";

/**
 * 4. Search
 */
@import "../modules/search";