/**
 * III. Drupal Catalog Index
 *
 * Styles specific to the Drupal catalog index page with the big-ass
 * table.
 *
 * Table of Contents
 *
 * A. General Styles
 * B. Quarter Indicators
 * C. Simple Filters
 * D. Advanced Filters
 */

/**
 * A. General Styles
 *
 * These styles were written without a thought to how they could be
 * grouped together thematically. Feel free to break this up into more
 * logical sections.
 */

.sticky-header{
	opacity: 0;  // Don't show at non-tabular sizes

	@include breakpoint($gamora){
		opacity: 1;  // Show when the layout becomes a table again
	}
}

.view-catalog .views-table{  // The main catalog table
	display: block;

	@include breakpoint($gamora){
		display: table;
	}
}

.view-catalog caption{
	display: block;

	@include breakpoint($gamora){
		display: table-caption;
	}
}

.view-catalog tbody{
	display: block;

	@include breakpoint($gamora){
		display: table-row-group;
	}
}

.view-catalog tr{
	// box model
	border-top: 1px solid $shade;
	margin-bottom: calc(30 / 16 * 1rem);
	padding-top: calc(15 / 16 * 1rem);
	padding-left: 7ch;
	// layout
	display: flex;
	flex-wrap: wrap;

	@include breakpoint($gamora){
		// box model
		border-top-width: 0;
		display: table-row;
	}
}

.view-catalog thead{
	display: none;

	@include breakpoint($gamora){
		display: table-row-group;
	}
}

.view-catalog td{
	// box model
	border-top-width: 0;
	padding: 0;
	// layout
	display: inline-block;

	@include breakpoint($gamora){
		// box model
		border-top-width: 1px;
		padding: 0.37037037037037em 1.111111111111111em 1.111111111111111em 0;  // 5/13.5  15/13.5
		// layout
		display: table-cell;
	}
}

.view-catalog .views-field-ops{
	// box model
	margin-left: -7ch;
	padding-right: 1ch;
	width: 7ch;
}

.view-catalog .catalog-title{
	// layout
	flex-basis: 100%;
}

.keyword-list ul > li{
	// box model
	margin: 0.234375rem 1ch 0.234375rem 0;  //3.75px
	// layout
	display: inline-block;
}

.keyword-list a{
	// box model
	border-bottom-width: 0;
	// layout
	display: block;
}

.keyword-list a,
.keyword-list a:visited{
	// typography
	color: mix($tint, $blueberry-susan, 20%);
	font-weight: normal;
}

.keyword-list a:hover{
	color: $blueberry-susan;
}

.keyword-list a:before{
	content: "#";
}

.keyword-list a:after{
	@media print{
		content: "";  // Hide appended URLs from print styles
	}
}

.keyword-list ul > li:last-child > a{
	margin-right: 0;
}

.catalog-time-offered p::after{
	content: "\00A0";

	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-offering p::after{
	content: "\00A0";

	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-class-standing p{

	&::before{
		content: "for" "\00A0";
	}

	&::after{
		content: ",\00A0";
	}

	@include breakpoint($gamora){

		&::before,
		&::after{
			content: "";
		}
	}
}

.catalog-credits p::after{
	content: "\00A0" "credits";  // \00A0 is a non-breaking space (&nbsp;)

	@include breakpoint($gamora){
		content: "";
	}
}

.catalog-quarters-offered{
	flex-basis: 100%;
}

.cancelled{
	opacity: 0.4;
}

/**
 * B. Quarter Indicator
 */

.quarter-indicator-group{
	display: flex;
}

.qi-fall,
.qi-winter,
.qi-spring,
.qi-summer-session1,
.qi-summer-session2{
	/* box model */
	border-width: 1px;
	height: 2em;
	margin-right: 0.5ch;
	width: 4ch;
	/* layout */
	overflow: hidden;
	/* typography */
	text-indent: 100%;
	white-space: nowrap;
	/* decoration */
	border-radius: 50%;
	border-style: solid;
}

.qi-cont-start{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.qi-cont{
	border-radius: 0;
}

.qi-cont-end{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.qi-fall{
	/* decoration */
	background-color: #c09a00;
	border-color: #c09a00;
}

.cancelled .qi-fall{
	background-color: #e5d8a3;
}

.qi-winter{
	background-color: mix($shade, $sky-blue, 20%);
	border-color: mix($shade, $sky-blue, 20%);
}

.cancelled .qi-winter{
	background-color: mix($tint, $sky-blue, 60%);
}

.qi-spring{
	background-color: mix($tint, $blueberry-susan, 20%);
	border-color: mix($tint, $blueberry-susan, 20%);
}

.cancelled .qi-spring{
	background-color: mix($tint, $blueberry-susan, 80%);
}

.summer-indicator-group{
	display: flex;
}

.qi-summer-session1,
.qi-summer-session2{
	width: 2ch;
}

.qi-summer-session1{
	background-color: $evergreen-neue;
	border-color: $evergreen-neue;
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.cancelled .qi-summer-session1{
	background-color: mix($tint, $evergreen-neue, 40%);
}

.qi-cont-start.qi-signature,
.qi-cont-start.quarter-conditional,
.qi-summer-session1.qi-signature,
.qi-summer-session1.quarter-conditional{
	background-position-x: 0.85ch;
}

.qi-summer-session2{
	/* box model */
	margin-right: 0;
	/* decoration */
	background-color: $evergreen-old-style;
	border-color: $evergreen-old-style;
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.cancelled .qi-summer-session2{
	background-color: mix($tint, $evergreen-old-style, 60%);
}

.qi-summer-session1.qi-signature{
	/* box model */
	width: 2em;
	/* decoration */
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.qi-summer-session2.qi-signature{
	/* box model */
	width: 2em;
	/* decoration */
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.cancelled .qi-fall,
.cancelled .qi-winter,
.cancelled .qi-spring,
.cancelled .qi-summer-session1,
.cancelled .qi-summer-session2{
	border-style: dashed;
}

.quarter-conditional{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/conditional-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1em;
}

.qi-signature{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/signature-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.5em;
}

.qi-future{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/texture-2.png");
	background-size: auto 100%;
}

.qi-future.qi-signature{
	background-image: url("/sites/all/themes/wwwevergreen/images/icons/texture-2.png"),
	/*             */ url("/sites/all/themes/wwwevergreen/images/icons/signature-icon.png");
	background-size: 100%,
	/*            */ 1.5em;
}

.qi-signature.qi-cont-start{
	background-position-x: 0,
	/*                  */ 0.85ch;
	background-repeat: repeat,
	/*              */ no-repeat;
}

.qi-na,
.cancelled .qi-na{
	/* decoration */
	background: transparent none;
	border-color: mix($tint, $blueberry-susan, 60%);
}

/**
 * C. Simple Filters
 *
 * Simple filters are buttons on the catalog homepage that simply take you
 * to a pre-filtererd version of the catalog without having to fiddle
 * around with the filter form doohickies.
 */
.simple-filter{
	align-items: baseline;
	display: flex;
}

.simple-filter-label{
	// box model
	margin-right: 2ch;
	// layout
	flex-basis: 13ch;
}

.simple-filter-list{
	// box model
	margin-bottom: 0;
	// layout
	display: flex;
	flex-wrap: wrap;
}

.simple-filter-list li{
	// box model
	border: 1px solid mix($tint, $blueberry-susan, 80%);
	margin: 0 1ch calc(15 / 14 * 1em) 0;
	padding: calc(7.5 / 14 * 1em) 1ch calc(15 / 14 * 1em);
	// layout
	display: inline-block;
	// decoration
	background-color: $tint;

	@include breakpoint($gamora){
		margin-bottom: (15 / 18 * 1em);
		padding: calc(7.5 / 18 * 1em) 1ch calc(15 / 18 * 1em);
	}

	&:last-child{
		margin-right: 0;
	}
}

/*.simple-filter-list a{
	border-width: 0;  // We should do this, but it needs more thought; maybe the border re-appers on hover?
}*/

/**
 * D. Advanced Filters
 *
 * Advanced filters are the filters in the left sidebar that allow for
 * very granular filtering of catalog results.
 */
#views-exposed-form-catalog-page .views-exposed-widgets{
	align-items: flex-start;
	flex-direction: column;
}

#views-exposed-form-catalog-page fieldset{
	/**
	 * These styles should closely fit with the rest of the OS-level form
	 * fields, for example inputs and selects.
	 */

	// box model
	border: 1px solid mix($tint, $blueberry-susan, 60%);
	height: auto;
	//margin: 0 0 calc(15 / 16 * 1rem);
	padding: 0 1ch;
	max-width: 100%;
	// decoration
	background-color: $tint;
	border-radius: 2px;
	box-shadow: 0 0.1em 0.1em $drop-shadow inset;

	&:hover{
		background-color: mix($tint, $blueberry-susan, 90%);
	}
}

#views-exposed-form-catalog-page legend{
	// box model
	border-width: 1px;
	padding: 0.25em 0;
	// typography
	line-height: 1.33928571428571;  // (15 + 3.75)/14, slightly compressed compared to $base-type so that multi-line legends are clickable in between lines
	// decoration
	background-color: $tint;
	background-image: linear-gradient($tint 75%, $tint);
	border-color: mix($tint, $blueberry-susan, 60%);
	border-bottom-color: $tint;  // Hides bottom border to avoid jumping on hover
	border-radius: 2px 2px 0 0;
	border-style: solid;
	//box-shadow: 0 0.1em 0.5em $drop-shadow;
}

#views-exposed-form-catalog-page fieldset:hover legend{
	background-color: mix($tint, $blueberry-susan, 90%);
	background-image: none;
	border-bottom-color: mix($tint, $blueberry-susan, 90%);

	&:hover{
		border-bottom: 1px dashed mix($tint, $blueberry-susan, 60%);
	}
}

#views-exposed-form-catalog-page fieldset .fieldset-title{
	// box model
	border-bottom: 0;

	&:focus,
	&:active{
		//decoration
		background-color: transparent;
		outline: 1px dotted $shade;
	}
}

#views-exposed-form-catalog-grad-programs{
	@extend #views-exposed-form-catalog-page;
}