/**
 * V. Style Fixes
 *
 * Fixes are for isolating bugs and workarounds typically caused by
 * interferring third-party styles, but could include browser hacks. For
 * example, a Drupal plugin whose styles override one of our modules, or a
 * WYSIWYG editor that needs special attention paid to the styles therein.
 *
 * Table of Contents
 *
 * A. Panels
 */

/**
 * A. Panels
 *
 * Drupal Panels
 */

.unit-1-3.panels-flexible-column{
	width: calc(33.3333333333% - 1ch);
}

.unit-2-3.panels-flexible-column{
	/*padding-left: 2ch;*/
	width: calc(66.6666666667% + 1ch);
}

.sidebar.panels-flexible-region{
	margin-right: 0;
	padding-left: 2ch;
	width: 100%;  // Overrides panels percentage fudge
}

.panels-flexible-region-panels-grid-center{ // Native Cases primary-content area
	width: auto;
}

.panels-grid .panels-flexible-column-inside{  // Native Cases secondary-content area
	padding-left: 0;
}