/**
 * II. Layout Styles
 *
 * Styles for overarching page layout elements like main columns,
 * rows, and wrappers.
 *
 * Table of Contents
 *
 * A. Grid
 * B. Page-level Layout
 * C. Header Layout
 * D. Content Layout
 * E. Hidden Elements
 */

/**
 * A. Grid
 *
 * Styles related to the grid system.
 *
 * @section l-grid
 */
@import "layout/grid";

/**
 * Element list is a generic container that is meant to house lists
 * of designed elements, i.e. not a bulleted text list. It is meant
 * to apply to uls and ols.
 */
.element-list{
	// box model
	margin-left: 0;
	padding-left: 0;
	// lists
	list-style-type: none;
}

/**
 * B. Page-level Layout
 */
.wrapper,
.wrapper-full, // deprecated, use .wrapper-restrained instead
.wrapper-restrained{
	// box model
	margin: 0 auto;
	width: 100%;
	// layout
	display: block;

	@include breakpoint($drax){
		max-width: 77em;
	}
}

/**
 * This wrapper will restrain the container, leaving min-margins around the
 * edges, when the site is viewed at narrow screen sizes.
 *
 * See .upcoming-events-homepage for an example.
 */
.wrapper-full,  // deprecated, use .wrapper-restrained instead
.wrapper-restrained{  // Keeps a bit of space for vertical auto-margins.
	width: calc(100% - 3ch);
}

.wrapper:before,  // nega-clearfix! Clearfix that wraps the element around TOP margins.
.wrapper:after{
	// box model
	width: 0;
	// layout
	clear: both;
	display: table;
	// miscellaneous
	content: "";
}

.wrapper.grid,
.wrapper.grid-alt{
	display: flex;
}

/**
 * C. Header Layout
 */

[role="banner"],
.header-nav-wrapper{
	// layout
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	// decoration
	background-color: $tint;
	// misc
	box-shadow: 0 0 3px $drop-shadow;

	@include breakpoint($gamora){
		flex-direction: row-reverse;
	}
}

.page-header{
	transition: all 0.1s ease-in-out;

	@include breakpoint($gamora){
		background-color: transparent;
	}
}

.top-nav{
	width: 100%;
}

.top-nav{
	clear: both;
	position: relative;

	@include breakpoint($lil-groot){
		// Font metrics for non-condensed fallback
		font-size: 0.695rem;  // Step -1
		line-height: calc(15 / 11.125);  // 15/11.125
	}

	@include breakpoint($starlord){
		@include base-type;
	}

	@include breakpoint($gamora){
		margin-left: 0;
		width: 100%;
	}
}

/**
 * Typekit overrides
 */

.wf-active .top-nav{

	@include breakpoint($lil-groot){
		@include base-type;
		line-height: 1.07142857142857;  // 15/14 - Edge doesn't support unitless calc() line-heights
	}
}

.top-nav,
.wf-active .top-nav{  // Typekit loaded

	@include breakpoint($gamora){
		@include base-type-lg;
	}

	@include breakpoint($drax){
		@include base-type-xl;
	}

	@include breakpoint($groot){
		font-size: 1.719rem;  // 27.504px  Step 3
		line-height: 1.090750436300175; // 30/27.504
	}
}

/**
 * D. Content Layout
 */
@import "layout/content";

/**
 * E. Hidden Elements
 *
 * For displaying less essential elements only when screen size
 * permits. Use sparingly!
 */
@media screen and (max-width: 20em){
	.gt20{
		display: none;
	}
}

@media screen and (max-width: 22em){
	.gt22{
		display: none;
	}
}

@media screen and (max-width: 32em){
	.gt32{
		display: none;
	}
}

@media screen and (max-width: 43em){
	.gt43{
		display: none;
	}
}

@media screen and (max-width: 70em){
	.gt70{
		display: none;
	}
}

@media screen and (max-width: 88em){
	.gt88{
		display: none;
	}
}