/**
 * T. CMS
 *
 * Styles to make the CMS WYSIWYG editor look nice. Not seen on
 * published site.
 *
 * Table of Contents
 *
 * 1. TinyMCE
 * 2. In-page User Interface
 */

/**
 * 1. TinyMCE
 *
 * The WYSIWYG editor.
 */
#tinymce{  // WYSIWYG
	// box model
	margin: 0 auto;
	padding: 0 4ch;
	max-width: 48em;
	// layout
	display: block;
}

/**
 * 2. In-page User Interface
 *
 * The interface seen by logged-in content owners with various site editing
 * privileges.
 */
#toolbar{  // Drupal’s toolbar at the top of every page when logged in
	box-shadow: 0 1px 0.25em $drop-shadow;
}

#tertiary-nav + a{  // “Edit this site’s info” in the left nav
	// box model
	padding: 0 1.5ch;
	// layout
	display: block;
	// typography
	font-family: $text-face-alt;
	font-weight: normal;
	// decoration
	background-color: transparentize(mix($tint, $sky-blue, 80%), 0.05);
	border-radius: 2px 0 0 2px;
}

.tabs.primary{  // New draft, versions, copy, track, etc. Content owner tabs.
	// box model
	border-bottom-width: 0;
	margin: 0;
	padding-left: 1ch;
	// typography
	font-family: $text-face-alt;
	@include base-type;
}

.tabs.primary a{  // The individual tabs themselves
	// typography
	font-weight: normal;
	// decoration
	border-radius: 2px 2px 0 0;
}

div.workbench-info-block{  // The block that comes directly underneath the tabs
	// typography
	font-family: $text-face-alt;
	@include base-type;
	// decoration
	background-color: mix($tint, $morning-light, 75%);
	border-color: mix($tint, $blueberry-susan, 75%);
	border-radius: 2px;
	border-style: solid;
}