/**
 * E. Footer
 *
 * The footer at the bottom of every page.
 */

.page-footer{
	// box-model
	margin-top: auto;
	padding: 1em 1em 0;
	// layout
	clear: left;
	// typography
	color: $tint;
	@include base-type;
	text-align: center;
	// decoration
	background-color: $shade;
	box-shadow: 0 0 3px $drop-shadow;

	@include breakpoint($drax){
		@include base-type-lg;
		text-align: left;
	}

	@include breakpoint($groot){
		@include base-type-xl;
	}
}

.page-footer-unit-central{
	text-align: center;  // Keep it centered, even at large sizes
}

.page-footer:after,
.page-footer:before{
	// layout
	clear: both;
	display: table;
	// miscellaneous
	content: "";
}

.page-footer a,
.page-footer a:link,
.page-footer a:visited{
	// typography
	color: $evergreen-neue;
	// decoration
	text-decoration-color: mix($shade, $evergreen-neue, 40%);
}

.page-footer a:hover{
	// typography
	color: $sky-blue;
	// decoration
	text-decoration-color: $sky-blue;
}

.page-footer a:focus{
	// decoration
	background-color: transparentize($tint, .9);
	outline-color: $tint;
	outline-offset: 1px;
	outline-style: dotted;
	outline-width: 1px;
}

.page-footer-unit .lineup{
	justify-content: center;

	@include breakpoint($drax){
		justify-content: flex-start;
	}
}

/*.footer-map{
	// layout
	display: block;
	// typography
	text-align: center;
}*/

.footer-map img{
	max-height: calc(150 / 16 * 1rem);
}

/*.footer-map a{
	border-width: 0;
}*/

.tagline-footer p{
	color: mix($tint, $shade, 33.3333333333%);
	font-weight: bold;
	text-align: center;

	@include breakpoint($lil-groot){
		// layout
		margin: calc(30 / 16 * 1rem) 0;
		// typography
		@include base-type-lg;
		letter-spacing: 0.3333333333ch;
		text-transform: uppercase;
	}

	@include breakpoint($starlord){
		font-size: 1.82rem;  // Step 3
		line-height: 1.03007828594973;  // 30 / 29.124
	}
}