/**
 * E. Footer
 *
 * The footer at the bottom of every page.
 */

.page-footer{
	// box-model
	margin-top: auto;
	padding: 1em 1em 0;
	// layout
	clear: left;
	// typography
	color: $tint;
	@include base-type;
	// decoration
	background-color: $shade;

	@include breakpoint($drax){
		@include base-type-lg;
	}

	@include breakpoint($groot){
		@include base-type-xl;
	}
}

.page-footer:after,
.page-footer:before{
	// layout
	clear: both;
	display: table;
	// miscellaneous
	content: "";
}

.page-footer a,
.page-footer a:link,
.page-footer a:visited{
	// typography
	color: $evergreen-neue;
	// decoration
	border-color: mix($shade, $evergreen-neue, 40%);
}

.page-footer a:hover{
	// typography
	color: $sky-blue;
	// decoration
	border-color: $sky-blue;
}

.footer-map{
	// layout
	display: block;
}

.footer-map img{
	max-height: calc(150 / 16 * 1rem);
}

.footer-map a{
	border-width: 0;
}

.motto-footer p{
	color: mix($tint, $shade, 15%);
	text-align: center;
	
	@include breakpoint($lil-groot){
		// layout
		margin: calc(30 / 16 * 1rem) 0;
		// typography
		@include base-type-lg;
		letter-spacing: 0.3333333333ch;
		text-transform: uppercase;
	}
	
	@include breakpoint($starlord){
		font-size: 1.82rem;  // Step 3
		line-height: 1.03007828594973;  // 30 / 29.124
	}
}

.motto-footer i{
	font-style: normal;
	font-weight: bold;
}