/**
 * C. Homepage Hero Image
 *
 * @section mod-hero-homepage
 *
 * +------------------------------+
 * |                              |
 * | .homepage-hero-       /---\  |
 * | content goes here.    |. .|  |
 * |  ---------------      \ - /  |
 * | [.call-to-action]     /; ;\  |
 * |                      /;  ;|  |
 * |  -----------------   u'===|' |
 * | |.box.caption-box |  |  v |  |
 * +------------------------------+
 *
 * Table of Contents
 *
 * 1. Default
 * 2. Graduation Day Hero Image
 * 3. Slogan
 * 4. Slogan Modifiers
 */

.homepage-hero{
	// box model
	height: 100%;
	// layout
	overflow: hidden;
	// layout
	position: relative;

	@include breakpoint($lil-groot){
		// box model
		width: 100%;
		// layout
		overflow: hidden;
		position: relative;  // Creates a stage for absolute positioning of child elements
	}

	/*@include breakpoint($drax){
		display: table;  // Gives it a block formatting context
	}*/
}

.homepage-hero-picture img{  // .homepage-hero-picture is the picturefill image
	display: block;

	@include breakpoint($starlord){
		width: 100%;
	}
}

// Zoom in on the center of images on small screens
.homepage-hero-img{  // fallback image for Internet Explorer 11
	margin-left: -50%;  // deprecated; there's no need to support this for IE 11
	width: 200%;  // deprecated; there's no need to support this for IE 11
	max-width: none;
	// layout
	display: block;

	@include breakpoint($starlord){
		.homepage-hero-img{  // deprecated; there's no need to support this for IE 11
			// box model
			margin-left: -25%;
			width: 150%;
		}
	}

	@include breakpoint($gamora){
		.homepage-hero-img{
			margin-left: -10%;
			width: 120%;
		}
	}

	@include breakpoint($drax){
		.homepage-hero-img{
			margin-left: 0;
			width: 100%;
		}
	}

	.homepage-hero-img-alt &{
		margin-left: 0;
	}
}

.homepage-hero-caption{
	// layout
	position: relative;
	z-index: 1;
	
	@include breakpoint($gamora){
		position: absolute;
		bottom: 0;
	}
}

.homepage-hero-caption .caption-box{
	margin: 0;
}

.homepage-hero a,  // The link so you can click basically the whole image instead of just the call-to-action button.
.homepage-hero a:visited,
.homepage-hero a:hover{
	border-width: 0;
	color: inherit;
	font-weight: inherit;
}

.homepage-hero .call-to-action{
	// box model
	padding: 0 2%;
	// layout
	display: inline-block;
	// typography
	color: $tint;
	text-shadow: none;
	// backgrounds and borders
	background-color: $evergreen-neue;

	&:hover{
		background-color: $sky-blue;
	}
	
	@include breakpoint($starlord){
		font-size: calc(1rem + 1vh);
		line-height: 1.5;
	}

	@include breakpoint($gamora){
		// layout
		float: right;
	}

	@include breakpoint($drax){
		font-size: 1.82rem;  // Step 3
		line-height: 1.5451174289246; // 45 / 29.124
	}
}

.homepage-hero-content{  // Holds the .caption-box and .homepage-hero-copy
	// box model
	height: 100%;
	width: 100%;
	//max-width: 77em;  // Should match the max-width of .wrapper
	// layout
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	// decoration
	background-color: $blueberry-susan;

	@include breakpoint($lil-groot){
		// layout
		flex-direction: column-reverse;
		position: absolute;
		bottom: 0;
		// decoration
		background-color: transparent;
	}

	@include breakpoint($starlord){
		justify-content: center;
	}

	@include breakpoint($gamora){
		height: 100%;
	}
}

.homepage-hero-content .box{
	margin: 0;

	@include breakpoint($starlord){
		position: absolute;
		bottom: 0;
	}
}

/**
 * 2. Graduation Day Hero Image
 *
 * The hero image changes to graduation-centric imagery copy.
 *
 * (I wonder if this section should be below section 3-Copy and maybe
 * 4-Copy Modifiers. I think this was put here for some reason, but I’m not
 * sure why now. Check it out when you have some time sometime.)
 */

.homepage-hero-content-grad{
	justify-content: flex-end;
}

.homepage-hero-content-grad .caption-box{
	display: none;
}

.homepage-hero-content-grad .homepage-hero-copy{
	// box model
	width: calc(66.6666666667% - 1em);

	@include breakpoint($starlord){
		width: calc(50% - 1em);
	}

	@include breakpoint($gamora){
		// box model
		width: calc(100% - 2em);
		// typography
		text-align: center;
	}
}

.homepage-hero-content-grad h1{
	margin: 0;
}

.homepage-hero-content-grad .homepage-hero-copy img{
	max-height: calc(250 / 16 * 1rem);

	@include breakpoint($gamora){
		margin-bottom: -2.2em;
		width: 66.6666666667%;
	}

	@include breakpoint($drax){
		margin-bottom: -2.5em;
	}
}

/**
 * 3. Slogan
 */
.homepage-hero-slogan-wrapper{
	// box model
	padding-left: 4ch;
	width: 75%;
	// layout
	position: absolute;
	top: 0;
	// decoration
	background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0.667), hsla(0, 0%, 0%, 0.5) 66.6666666667%, hsla(0, 0%, 0%, 0));
	//background-image: scrim-gradient(to right, hsla(0, 0%, 0%, 0.75), transparent);
	
	@include breakpoint($starlord){
		width: 66.6666666667%;
	}
	
	@include breakpoint($gamora){
		width: calc(4 / 7 * 100%);
	}
	
	@include breakpoint($drax){
		width: calc(3 / 7 * 100%);
	}
}

.homepage-hero-slogan{
	// layout
	display: flex;
	
	@include breakpoint($lil-groot){
		// box model
		//width: calc(66.6666666667% - 2ch);
		// layout
		//float: left;
	}

	@include breakpoint($starlord){
		// box model
		//margin: 0 2ch;
		//width: calc(50% - 2ch);
		color: $tint;
		// typography
		text-shadow: 0 1px 2px mix($shade, $blueberry-susan, 80%);
	}

	//@include breakpoint($drax){
	@include breakpoint($gamora){
		//margin: 33% auto 0;
		//width: calc((3 / 7 * 100%) - 1em);  //3/7
		//width: 90vw;
		//max-width: calc(100% - 4ch);
	}
	
	@include breakpoint($drax){
		//width: 70vw;
	}
}

.homepage-hero-slogan h1{
	// box model
	margin-right: 1ch;
	width: 61%;
	// layout
	float: left;
	// typography
	font-size: 1.202rem;
	line-height: 1.169925124792013;  //22.5/19.232

	@include breakpoint($lil-groot){
		// box model
		margin-top: 2em;
		//typography
		color: $tint;
		text-shadow: 0 2px 1px mix($shade, $blueberry-susan, 80%);
	}
	
	@include breakpoint($starlord){
		// box model
		margin-top: 1em;
		width: 65%;
	}

	@include breakpoint($gamora){
		// box model
		margin-top: 1.5em;
		width: 70%;
		//typography
		font-size: 1.416rem;
		line-height: 1.324152542372881;  //30/22.656
	}
	
	@include breakpoint($drax){
		// box model
		margin-top: 3.5em;
	}

	@media screen and (min-width: 86em){  // Odd-sized media query, for better text appearance.
		//typography
		font-size: 2.291rem;  //36.656
		line-height: 1.227629855958097;  //45/36.656
	}
}

.homepage-hero-slogan-keywords{
	// box model
	margin-top: -10vh;
	width: 39%;
	// layout
	float: left;
	// animation
	animation-duration: 2s;
	//animation-name: spinDown;
	//animation-timing-function: ease-out;
	animation-timing-function: cubic-bezier(0.240, 0.820, 0.695, 1.145);  // Custom, with bounce
	
	
	@include breakpoint($starlord){
		width: 35%;
	}
	
	@include breakpoint($gamora){
		width: 30%;
	}
}

@keyframes spinDown{
	from{
		margin-top: -75vh;
	}
	
	to{
		margin-top: -10vh;
	}
}

.homepage-hero-slogan img{
	width: 100%;  // IE 11
}

/**
 * 4. Copy Modifiers
 *
 * Some hero images require different placement or design of the hero copy.
 * Add both of these to the .homepage-hero parent class.
 *
 * - .homepage-hero-copy-alt      Moves the copy to the right side of the
 *                                image.
 * - .homepage-hero-img-detailed  Adds a violet background to make the text
 *                                more readable on detailed images.
 */
.homepage-hero-copy-alt .homepage-hero-slogan-wrapper{

	@include breakpoint($lil-groot){
		// box model
		padding-right: 4ch;
		padding-left: 0;
		//layout
		//align-self: flex-end;
		//float: right;
		right: 0;
		// decoration
		background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.5) 66.66667%, transparent);
		//background-image: scrim-gradient(to left, hsla(0, 0%, 0%, 0.75), transparent);
	}

	@include breakpoint($starlord){
		//layout
		//align-self: flex-end;  //W3C
		//float: right;  //IE9
	}
}


/* I do  not believe this entire section is needed for the latest slogan. */
/*
.homepage-hero-img-detailed .homepage-hero-copy{
	// box model
	height: 100%;
	margin: 0;
	padding: 0 calc(7.5 / 15 * 1em);
	width: 66.6666666667%;
	// decoration
	background-color: transparentize($blueberry-susan, 0.5);
	border-radius: 2px;

	@include breakpoint($rocket){
		padding: 0 calc(15 / 14 * 1em);
	}

	@include breakpoint($starlord){
		height: auto;
		width: 50%;
	}

	@include breakpoint($gamora){
		// box model
		margin: 5em 2ch 0;
		padding: 0;
		width: calc(100% - 4ch);
		// decoration
		background-color: transparent;
	}
}*/