/**
 * C. Homepage Hero Image
 *
 * @section mod-hero-homepage
 *
 * +------------------------------+
 * |                              |
 * | .homepage-hero__      /---\  |
 * | content goes here.    |. .|  |
 * |  ---------------      \ - /  |
 * | [.call-to-action]     /; ;\  |
 * |                      /;  ;|  |
 * |  -----------------   u'===|' |
 * | |.box.caption-box |  |  v |  |
 * +------------------------------+
 *
 * Table of Contents
 *
 * 1. Default
 * 2. Graduation Day Hero Image
 * 3. Copy
 * 4. Copy Modifiers
 */
.homepage-hero,
.homepage-hero__content{
	height: 100%;
	overflow: hidden;
}

.homepage-hero{

	@include breakpoint($lil-groot){
		// box model
		width: 100%;
		// layout
		overflow: hidden;
		// positioning
		position: relative;  // Creates a stage for absolute positioning of child elements
	}

	@include breakpoint($drax){
		display: table;  // Gives it a block formatting context
	}
}

.homepage-hero__fallback{  // This is the fallback image
	// box model
	width: 100%;
	// layout
	display: block;
}

// Zoom in on the center of images on small screens
.homepage-hero__img{  // fallback image for Internet Explorer 11
	max-width: none;
	// layout
	display: block;

	@include breakpoint($drax){
		.homepage-hero__img{
			margin-left: 0;
			width: 100%;
		}
	}

	.homepage-hero__img--alt &{
		margin-left: 0;
	}
}

.homepage-hero__link,  // The link so you can click basically the whole image instead of just the call-to-action button.
.homepage-hero__link:visited,
.homepage-hero__link:hover{
	// typography
	color: inherit;
	font-weight: inherit;
	// decoration
	text-decoration: none;
}

.homepage-hero .call-to-action{
	// box model
	padding: 1em 1ch;
	// layout
	display: inline-block;
	// typography
	color: $tint;
	font-weight: bold;
	text-shadow: none;
	// decoration
	background-color: $evergreen-neue;
	border-radius: 2px;

	&:hover{
		background-color: $sky-blue;
	}

	@include breakpoint($drax){
		font-size: 1.82rem;  // Step 3
		line-height: 1.5451174289246; // 45 / 29.124
	}
}

.homepage-hero__content{  // Holds the .caption-box and .homepage-hero__copy
	// box model
	width: 100%;
	max-width: 77em;
	// decoration
	background-color: $blueberry-susan;

	@include breakpoint($lil-groot){
		// layout
		display: flex;  // W3C
		flex-direction: column;
		// positioning
		position: absolute;
		bottom: 0;
		// decoration
		background-color: transparent;
	}

	@media screen and (min-width: 25em){
		justify-content: center;
	}

	@include breakpoint($gamora){
		height: 100%;
	}
}

.homepage-hero__content .box{
	// box model
	margin: 0;
	// positioning
	position: relative;
	z-index: 1;

	@include breakpoint($lil-groot){
		position: absolute;
		bottom: 0;
	}
}

.homepage-hero__copy-flourish{
	margin: 0 auto;
	max-width: 66.6666666667%;
}

.homepage-hero__copy-flourish--top{
	margin-top: -50%;
}

.homepage-hero__copy-flourish--bottom{
	transform: rotate(180deg);
	margin-bottom: -50%;
}

/**
 * 2. Graduation Day Hero Image
 *
 * The hero image changes to graduation-centric imagery copy.
 *
 * (I wonder if this section should be below section 3-Copy and maybe
 * 4-Copy Modifiers. I think this was put here for some reason, but I’m not
 * sure why now. Check it out when you have some time sometime.)
 */

.homepage-hero-content-grad{
	justify-content: flex-end;
}

.homepage-hero-content-grad .caption-box{
	display: none;
}

.homepage-hero-content-grad .homepage-hero__copy{
	// box model
	width: calc(66.6666666667% - 1em);

	@include breakpoint($starlord){
		width: calc(50% - 1em);
	}

	@include breakpoint($gamora){
		// box model
		width: calc(100% - 2em);
		// typography
		text-align: center;
	}
}

.homepage-hero-content-grad h1{
	margin: 0;
}

.homepage-hero-content-grad .homepage-hero__copy img{
	max-height: calc(250 / 16 * 1rem);

	@include breakpoint($gamora){
		margin-bottom: -2.2em;
		width: 66.6666666667%;
	}

	@include breakpoint($drax){
		margin-bottom: -2.5em;
	}
}

/**
 * 3. Copy
 */
.homepage-hero__copy{
	margin: 0 calc(15 / 14 * 1em);
	text-align: center;

	@include breakpoint($lil-groot){
		// box model
		width: calc(66.6666666667% - 1em);
		// layout
		float: left;
	}

	@include breakpoint($starlord){
		// box model
		margin: 0 1em;
		width: calc(50% - 1em);
		color: $tint;
		// typography
		text-shadow: 0 1px 2px mix($shade, $blueberry-susan, 80%);
	}

	@include breakpoint($drax){
		width: calc((3 / 7 * 100%) - 1em);  //3/7
	}
}

.homepage-hero__copy h1{
	// box model
	margin: 0;
	// typopgraphy
	color: $tint;
	@include base-type-xxxl;

	@include breakpoint($lil-groot){
		//typography
		text-shadow: 0 2px 1px mix($shade, $blueberry-susan, 80%);
	}

	@include breakpoint($gamora){
		//typography
		font-size: 1.416rem;
		line-height: 1.324152542372881;  //30/22.656
	}

	@media screen and (min-width: 86em){  // Odd-sized media query, for better text appearance.
		//typography
		font-size: 2.291rem;  //36.656
		line-height: 1.227629855958097;  //45/36.656
	}
}

.homepage-hero__copy img{
	width: 100%;  // IE 11
}

/**
 * 4. Copy Modifiers
 *
 * Some hero images require different placement or design of the hero copy.
 * Add both of these to the .homepage-hero parent class.
 *
 * - .homepage-hero__copy--alt      Moves the copy to the right side of the
 *                                image.
 * - .homepage-hero__img--detailed  Adds a violet background to make the text
 *                                more readable on detailed images.
 */
.homepage-hero-copy-alt .homepage-hero__copy,  // deprecated, use BEM method, below
.homepage-hero__copy--alt .homepage-hero__copy{  // BEM method

	@include breakpoint($lil-groot){
		// layout
		align-self: flex-end;
		float: right;
	}

	@include breakpoint($starlord){
		//layout
		align-self: flex-end;  // W3C
		float: right;  // IE9
	}
}

.homepage-hero-img-detailed .homepage-hero__copy,  // deprecated, use BEM method, below
.homepage-hero__img--detailed .homepage-hero__copy{  // BEM method
	// box model
	height: 100%;
	margin: 0;
	padding: 0 calc(7.5 / 15 * 1em);
	width: 66.6666666667%;
	// decoration
	background-color: transparentize($blueberry-susan, 0.5);
	border-radius: 2px;

	@include breakpoint($rocket){
		padding: 0 calc(15 / 14 * 1em);
	}

	@include breakpoint($starlord){
		width: 50%;
	}

	@include breakpoint($gamora){
		padding: 0 calc(15 / 17 * 1em);
	}

	@include breakpoint($drax){
		width: calc(3 / 7 * 100%);
	}

	@include breakpoint($groot){
		padding: 0 calc(30 / 19.23333333333 * 1em);
	}
}