/**
 * I. Icons
 *
 * Table of Contents
 *
 * 1. Inline Icons
 * 2. Related Nav (aka The Transporter)
 * 3. Progress, Loaders, and Throbbers
 */

/**
 * 1. Inline Icons
 *
 * Icons that appear before strings of text. For example, [x] Close, where
 * [x] is the icon.
 */

.icon{
	display: inline-block;
	fill: currentColor;
}

.inline-icon{
	// box model
	height: 100%;  // IE 11
	max-height: 1.25em;
	// layout
	display: inline;
	position: relative;
	top: 0.25em;
}

/**
 * 2. Related Nav (aka The Transporter)
 *
 * Related links with iconographic circles.
 */
.transporter{
	// box model
	padding: 0 1ch;
	// layout
	flex-direction: column;

	@include breakpoint($lil-groot){
		flex-direction: row;
	}

	/*@include breakpoint($rocket){
		padding: 0 2ch;  // We may not want to sacrifice this much room when we're squeezing in seven columns.
	}*/
}

.transporter > li{
	// box model
	margin: calc(15 / 16 * 1rem) 0;
	// typography
	text-align: center;
	vertical-align: top;  // IE 9

	@include breakpoint($lil-groot){
		// box model
		width: 33.3333333333%;
		// layout
		float: left;  // IE 9
		position: relative;
	}

	@include breakpoint($gamora){
		// box model
		width: 14.285714285714%;  // 1/7
		// layout
		position: static;
	}
}

.transporter > li:nth-child(1),
.transporter > li:nth-child(3){
	top: calc(45 / 16 * 1rem);
	z-index: 1;  // Moves them on top of the central call to action, so they're still clickable.
}

.transporter > li:nth-child(4){
	order: 1;

	@include breakpoint($lil-groot){
		order: initial;
	}
}

.transporter > li:nth-child(5),
.transporter > li:nth-child(7){
	top: calc(-45 / 16 * 1rem);
}

.transporter-call{
	flex-basis: 100%;

	@include breakpoint($gamora){
		flex-basis: inherit;
	}
}

.transporter a{
	display: block;

	&,
	&:visited{
		// box model
		// typography
		color: $evergreen-neue;
		// decoration
		text-decoration: none;
	}

	&:hover{
		color: $sky-blue;

		.transporter-icon{
			// decoration
			//background: $sky-blue;
			box-shadow: 0 0 0.2em $highlight inset;
		}
	}
}

.transporter-call a{
	margin: 0 auto;
	width: 33.3333333333%;

	@include breakpoint($gamora){
		width: 100%;
	}
}

.transporter a:hover .transporter-icon{
	transform: scale(1);
}

.transporter-icon{
	// layout
	display: inline-block;
	transform: scale(0.8);
	// typography
	color: $tint;
	text-align: center;
	// decoration
	border-radius: 50%;
	// behavior
	transition: all 0.2s;

	@include breakpoint($rocket){
		margin: 0 auto;
		max-width: 80%;
	}

	@include breakpoint($starlord){
		max-width: 100%;
	}

	@include breakpoint($drax){
		max-width: 90%;
	}
}

.transporter-icon img{
	// box model
	width: 10ch;  // Arbitrary number
	max-width: 100%;
	// layout
	display: block;
	// behavior
	transition: transform 0.1s ease;
}

.compound-img-icon img{
	// box model
	width: 10ch;
	max-width: 100%;
	// layout
	display: block;

	/*@include breakpoint($gamora){
		width: 12ch;  // Matches .transporter-icon img
	}*/
}

.transporter-call .transporter-icon{
	background-color: $evergreen-neue;

	&:hover{
		background-color: $sky-blue;
	}
}

.transporter-call .icon{
	transform: scale(0.6);
}

/**
 * 3. Progress, Loaders, and Throbbers
 */
/**
 * AJAX Loader
 *
 * The ajax loader module provides you alternatives to the default Drupal
 * core AJAX throbber. When this module is configured, it overrides the
 * default Drupal throbber. (The custom throbbers are pure CSS.)
 *
 * See: https://www.drupal.org/project/ajax_loader
 */
div.ajax-progress{
	// box model
	height: 100%;
	width: 100%;
	// layout
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	// decoration
	background: transparentize($shade, 0.2);
}

@keyframes spinner{
	to{
		transform: rotate(360deg);
	}
}

.ajax-progress .throbber{
	// box model
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	padding: 10px;
	width: 32px;
	// layout
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	// decoration
	background: transparent url("/sites/all/themes/wwwevergreen/images/icons/spinner.svg") no-repeat scroll 50% 50%;
	border-radius: 0;
	// behavior
	animation: spinner 0.6s linear infinite;
}