/**
 * J. Images
 *
 * Image modules, typically for laying them out within an article.
 *
 * Table of Contents
 *
 * 1. Illustrative Images
 * 2. Juicebox Gallery
 * 3. Overrides
 * 4. Badges (deprecated)
 */

/**
 * 1. Illustrative Images
 *
 * Images for standard design use, either pulled off to the right, or
 * centered on the page.
 */
.left,  // deprecated
.image,
.image img,  // WYSIWYG
.image-alt,
.image-full,
.image-full img,  // WYSIWYG
.field-image img{  // Drupal event calendar
	// box model
	border: 1px solid mix($shade, $sky-blue, 60%);
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	// layout
	display: block;
	// typography
	color: $tint;  // for readability in the WYSIWYG
	// decoration
	background-color: mix($shade, $sky-blue, 60%);
	border-radius: 2px;
	box-shadow: 0 2px 2px $drop-shadow;
}

.image-full,
.image-full img,  // WYSIWYG
.field-image img{  // Drupal event calendar
	@include margin-default;
	margin-right: auto;
	margin-left: auto;

	@include breakpoint($gamora){
		@include margin-default-lg;
		margin-right: auto;
		margin-left: auto;
	}

	@include breakpoint($groot){
		@include margin-default-xl;
		margin-right: auto;
		margin-left: auto;
	}
}

.left,  // deprecated
.image,
.image img,  // WYSIWYG
.image-alt{

	@include breakpoint($starlord){
		// box model
		margin: 0 0 0.53571428571429em 1em;  // 7.5/14
		max-width: calc(66.6666666667% - 0.5em);
		// layout
		clear: right;
		float: right;
  }

	@include breakpoint($gamora){
		margin-bottom: 0.83333333333333em;  // 15/18

		.main-content &{
			margin-right: -2em;
		}
	}

	@include breakpoint($groot){
		margin-bottom: 1.56014353320505em;  // 30/19.229
	}
}

@include breakpoint($drax){
	.left,  // deprecated
	.main-content .image,
	.main-content .image img,  // WYSIWYG
	.image-alt{
		// box model
		margin-right: -3em;
		max-width: calc(50% + 2.5em);
	}

	.image-alt{
		// box model
		margin-right: 0;
		margin-left: -36.699751769518%;  // Weird math for the left margin.
		width: 33.732718894009%;  // It took weird math to get here.
		// layout
		clear: left;
		float: left;
	}
}

//Overrides the negative margin-right for images in boxes so that they don't get cut off. 
.box .image{
	@include breakpoint($gamora){
		margin-right: 0;
	}
}

/**
 * 2. Juicebox Gallery
 *
 * Support: https://juicebox.net/forum/index.php
 */

.primary-content-wrapper .juicebox-parent{
	height: 600px;  // 30 * 20  - FYI, max-height doesn't work here
}

/**
 * 3. Overrides
 */

.media.media-element-container{
	display: block;  // Resolves conflict with .media layout block and Drupal media module.
}

/**
 * 4. Badges
 *
 * Logos, labels, and stickers that are not necessarily
 * important content to the audience, but are important to
 * content owners and third parties. e.g. NASCAR
 */
/*.badge{
	max-width: 33.3333333333%;
	
	@media screen and (min-width:32em){
		max-width: 16.6666666666%;
	}
}*/